* {
margin : 0;
padding : 0;
font-family: Sans-Serif;
}

.news-board{
margin: 7px;
}

.go-bck-button{
margin: 7px;
margin-top: 20px;
text-decoration: none;
}

.add-post-container{
width: 100%;
margin: 2px;
display: flex;
justify-content: center;
align-items: center;

}

.submit-and-text{
width: 10%;
flex-direction: column;
align-items: center;
justify-content: center;

}

.user-posts-container{

display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}


.add-post-container{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;


}

.post_desc{

width: 500px;
margin: 2px;
}



.db-output-posts{
height: 500px;
width: 50%;
justify-content: center;
flex-direction: column;

}

.db-output-posts .post-desc{

background: green;
white-space: pre-wrap;
}


.db-output-posts .post-desc .td{

background: yellow;
margin-left:3.5em;
}

.message{
    resize: none;
    width: 500px;

}