body{
	margin: 0;
	padding: 0;
	font-family: sanf-serif;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(0,212,255,1) 100%);
	height: 500px;
	background-size: cover;
}



.box{
	width: 300px;
	height: 150px;
	padding: 40px 50px 50px 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #F0FFFF;
	text-align: center;
	border-radius: 40px;
}

.box h2{

	font-family: sanf-serif;
	font-weight: 500;
	color: #00008B;

}


.nameInCorner{
    color: white;
    font-family: sanf-serif;
    weight: 500;
    opacity: 0.5;
}

.box input[type="button"]{

	border: 0;
	background: none;
	display: block;
	margin: 10px auto;
	text-align: center;
	border: 2px solid #40E0D0;
	padding: 14px 40px;
	width: 200px;
	height: 50px;
	cursor: pointer;
	outline: none;
	border-radius: 24px;
	transition: 0.25s;

}


.box input[type="button"]:hover{
		background: #40E0D0;

}

