<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml"
      xmlns:form="http://www.w3.org/1999/xhtml" lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Styleregistration_success.css">
    <title>Home page</title>
</head>

<body>
<!-- Sidebar/menu -->

<div class="nameInCorner">
    <p> System rozmieszczania studentów na kolokwiach </p>
</div>

<form class="box">
    <!--<h2> Confirmation email has been sent!</h2>-->
    Strona stworzona przez studentów - Macieja Musiała i Mateusza Filipa

</form>

<div class="menubox">

    <form th:action="@{/logout}" method="post">
        <a  th:href="@{/logout}"><input name="logout" type="button"  value="Logout"  onclick="window.location='login'" placeholder="Submit"></a>
    </form>

    <form>
        <input name="index" type="button"  value="Index"  onclick="window.location='main'" placeholder="Submit">
    </form>

    <form>
        <input name="getCode" type="button"  value="GetCode"  onclick="window.location='getCode'" placeholder="Submit">
    </form>

    <form action="/about" method="GET">
        <input name="about" type="button"  onclick="window.location='about'" value="About"  placeholder="Submit">
    </form>

</div>


</body>
</html>
