<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styleGetCode.css">
    <title>Home page</title>
</head>

<body>
<!-- Sidebar/menu -->

<div class="nameInCorner">
    <p> System rozmieszczania studentów na kolokwiach </p>
</div>

<!--<img th:src="@{/getImage}" modelAttribute="ImageDB" method="GET" name="image" alt="" width="500" height="600"> -->

<form class="box" th:action="@{/getImage}" method="POST" modelAttribute="ImageDB">
    <input type="text" name="code" id="code" path="code"  placeholder="ImageCode" required>
    <input name="Submit" type="submit"  value="Submit"  placeholder="Submit">
    <img  th:src="${image} == null ? _ : @{'data:image/png;base64,'+${image}}" modelAttribute="ImageDB"  name="image" alt="" width="500" height="580">
</form>

<!--<form class="box2" th:action="@{/displayImage}" method="GET" modelAttribute="ImageDB"> -->



<div class="menubox">

    <form th:action="@{/logout}" method="post">
        <a  th:href="@{/logout}"><input name="logout" type="button"  value="Logout"  onclick="window.location='login'" placeholder="Submit"></a>
    </form>

    <form>
        <input name="index" type="button"  value="Index"  onclick="window.location='main'" placeholder="Submit">
    </form>

    <form th:action="@{/getCode}" method="GET">
        <input name="getCode" type="button"  value="GetCode"  onclick="window.location='getCode'" placeholder="Submit">
    </form>

    <form action="/about" method="GET">
        <input name="about" type="button"  onclick="window.location='about'" value="About"  placeholder="Submit">
    </form>

    <form th:action="@{/changePassword}" method="GET">
        <input name="changePassword" type="button" onclick="window.location='changePassword'"  value="changePassword"  placeholder="Submit">
    </form>

    <form sec:authorize="hasRole('ROLE_ADMIN')" action="/viewStudents" method="GET">
        <input name="viewStudents" type="button"  onclick="window.location='viewStudents'" value="viewStudents"  placeholder="Submit">
    </form>

</div>


</body>
</html>