<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8_polish_ci">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles.css">
	<title>Home page</title>
</head>

<body>
<!-- Sidebar/menu -->
<div class="vl"></div>
<div class="list">
	<div class="button1"><button onclick="window.location='Home.html';">Utwórz kolokwium</button></div>
	<div class="button2"><button>Dodaj/usuñ sale</button></div>
	<div class="button3"><button>Wczytaj dane studentów</button></div>
	<div class="button3"><button>Historia</button></div>
	<div class="button4"><button onclick="window.location='About.html';">O programie</button></div>
</div>

<h1>System Rozmieszczania Studentów na Egzaminach</h1>
<p> Great to see you, <span th:text="${username}"/>! </p>
<p> Your email: <span th:text="${email}"/> </p>
</body>
</html>
