<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Styleregistration_success.css">
    <title>Home page</title>
</head>

<body>
<!-- Sidebar/menu -->

<div class="nameInCorner">
    <p> System rozmieszczania studentów na kolokwiach </p>
</div>

<form class="box">
    <!--<h2> Confirmation email has been sent!</h2>-->
    <p> Great to see you, <span th:text="${username}"/>! </p>
    <p> Your email: <span th:text="${email}"/> </p>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        Hello admin!
    </div>

</form>

<div class="menubox">

    <form th:action="@{/logout}" method="post">
        <a  th:href="@{/logout}"><input name="logout" type="button"  value="Logout"  onclick="window.location='login'" placeholder="Submit"></a>
    </form>

    <form>
        <input name="index" type="button"  value="Index"  onclick="window.location='main'" placeholder="Submit">
    </form>

    <form th:action="@{/getCode}" method="GET">
        <input name="getCode" type="button"  value="GetCode"  onclick="window.location='getCode'" placeholder="Submit">
    </form>

    <form action="/about" method="GET">
        <input name="about" type="button"  onclick="window.location='about'" value="About"  placeholder="Submit">
    </form>

    <form th:action="@{/changePassword}" method="GET">
        <input name="changePassword" type="button" onclick="window.location='changePassword'"  value="changePassword"  placeholder="Submit">
    </form>

    <form sec:authorize="hasRole('ROLE_ADMIN')" action="/viewStudents" method="GET">
        <input name="viewStudents" type="button"  onclick="window.location='viewStudents'" value="viewStudents"  placeholder="Submit">
    </form>




</div>



</body>
</html>