<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styleLogin.css">
    <title>Home page</title>
</head>

<body>
<!-- Sidebar/menu -->


<div class="nameInCorner">
    <p> System rozmieszczania studentów na kolokwiach </p>
</div>

<form class="box" action="/getUser" method="POST" modelAttribute="User">
    <h2>Login</h2>
    <input type="text" name="email" id="email" path="email"  placeholder="Email" required>
    <input type="password" name="password" id="password"  path="password" placeholder="Password" required>
    <input type="submit" name="submit"  value="Submit" placeholder="Submit">
    <a href="register">Register account</a>

</form>


</body>
</html>
