<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sf="http://www.w3.org/1999/xhtml"
      xmlns:form="http://www.w3.org/1999/xhtml" lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styleRegister.css">
    <title>Home page</title>
</head>

<body>
<!-- Sidebar/menu -->

<div class="nameInCorner">
    <p> System rozmieszczania studentów na kolokwiach </p>
</div>

<form class="box" action="/addUser" method="POST" modelAttribute="User">
    <h2>Register</h2>
    <input type="text" name="username" id="username" path="username" placeholder="Username" required>
    <input type="email" name="email"  placeholder="Email" id="email"   path="email" required>
    <input type="password" name="password" id="password"  placeholder="Password"  path="password" required>
    <input type="password" name="passwordCheck" id="password_check"  placeholder="Confirm Password" required>
    <input type="submit" name="Submit"  value="Submit" placeholder="Submit">
    <input type="button"  value="Back"  onclick="window.location='login'" placeholder="Submit">
</form>


<script src = "password_confirm.js" ></script>
</body>
</html>
