* {

margin : 0px;
padding: 0px;
font-family: Sanf-Serif;

color: black;
}

.flex-container{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
    /*height: 100%;*/
    width:100%;
    flex-flow: row wrap;
    align-items: flex-start;

}


.db-input{

    display: flex;
    position: sticky;
    top:0;
    margin: 10px;
    flex-direction: column;
    /*flex: 1;
    flex-order: 2;
    align-self: flex-end;*/
    height: 230px;
    border: 5px solid yellow;
    align-items: center;
    padding: 5px;
    justify-content: center;


}

/*
db-input-remove{
    display: flex;
    margin: 10px;
    flex-direction: column;
    width: 300px;
    flex: 1;
    height: 150px;
    border: 5px solid green;
    justify-content: center;
    align-items: center;
    padding: 2px;
     position: fixed;
     top: -160px;
     right: 0;
     align-self: flex-end;
     background: green;
}
*/

.db-output{

    height: 100%;
    flex-order: 1;
    padding: 1px;
    margin: 10px;
    display: flex;
    flex: 2;
    width: 30%;
    flex-direction: column;
    /*flex-flow: row wrap;*/
}


.db-input .form{

    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: column;

}

.db-output table{
    width: 100%;
    border: 1px solid black;
}
.db-output tr{

    border: 1px solid black;
}
.db-output td{

    border: 1px solid black;
}

.addStudent{

    margin-top: 7px;
    margin-left: 25px;


}